.app {
  position: absolute;
  left: 50%;
  top: 20px;
  transform: translate(-50%);
  width: 500px;
  height: 80vh;
  border: 1px solid lightgrey;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  padding: 40px;
  overflow-y: scroll;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  width: 5px;
  background-color: lightgrey;
}
